// patterns -> body
$font-family-Open-Sans: sans-serif;
$font-weight: 0;
$font-size-body: 0px;
$line-height: 0px;
$overflow-x: hidden; 
 

// patterns -> style
$font-size-content-title: 0px;
$fonst-weight-content-title: 0;
$line-height-content-title: 0px;
$color-content-title: #000;


// header, footer
$font-size-X: 14px;


// style 
$button-bacground-color: #000;
