//fonts
$font-main: "", sans-serif;
$font-accent: "", serif;
$font-secondary: "", sans-serif;

//background
$bg-primary: #242b33;
$bg-secondary: #2d343c;

//text color
$text-color-primary: #fff;
$text-color-accent: #fff;
$text-color-secondary: #fff;
